*{
  margin: 0;
  padding: 0;
  text-decoration: none; 
  list-style: none;
  box-sizing: border-box;
}

header {
  display: flex;
  position: relative;
  background-color: rgb(15, 15, 48);
  height: 8.5vh;
  align-items: center;
  z-index: 10;
}

h2 {
  color: white;
  font-size: 4vh;
  font-weight: bolder;
  position: relative;
  left: 25px;
}

body {
  background-color: rgb(15, 15, 48); 
  }

.container {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 90vh;
  width: 100%;
}
 
.container1 {
  display: flex;
  position: relative;
  padding: 10px;
  height: 100%;
  width: 50%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.container2 {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 10px;
  height: 100%;
  width: 50%;
  justify-content: center;
}

.maincontainer {
  display:flex;
  position: relative;
  justify-content: center;
  height: 82vh; 
  width: 100%;
}

.main {
  display:flex;
  position: relative;
  height: 100%;
  width: 80%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.imgcontainer {
  display: flex;
  position: relative;
  width: 90%;
  height: 60%;
  justify-content: center;
}

#imgContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 100%; 
  background: rgb(223, 223, 223);
  margin: 10px;
  border-radius: 15px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

#eyedropper {
  right: 30px;
  font-size: 30px;
  position: absolute;
  top: 75px;
  color: #f1f1f1;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

#eyedropper:hover,
#eyedropper:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

#popup {
  display: none;
  position: absolute; 
  z-index: 100; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9); 
  justify-content: center;
  align-items: center;
}

#popup-img {
  margin: auto;
  display: block;
  max-width: 135vh;
  max-height: 200vh;
}
 
#insrtimg {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 20%;
  font-size: 1vh;
  align-items: center;  
}
 
#imgicon {
  width: 21%;
  height: 27%;
  top: 38%;
  left: 40%;
  position: absolute;
  z-index: 10;
}

.upload-image {
  display: flex;
  padding: 16px 0;
  border-radius: 15px;
  background: yellow;
  color: #000000;
  font-weight: bold;
  font-size: 2.5vh;
  border: none;
  justify-content: center;
  cursor: pointer;
  transition: all .3s ease;
  left: 5px;
  right: 5px;
  width: 75%;
 }

.upload-image:hover {
  background: rgb(211, 211, 11);
}

.canvas:hover {
  cursor: pointer;
  opacity: .7;
}

 #colorinput {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

#colorcontainer {
  display: flex;
  position: relative;
  height: 25%;
  width: 100%;
  flex-direction: column;
  border-radius: 10px;
  border-style: solid;
  border-color:rgb(255, 254, 166);
  border-width: 2px;
  background-color: rgb(0, 0, 0);
}

.colorheader {
  display: flex;
  position: relative;
  flex-direction: column;
  bottom: 0;
  width: 100%;
  height: 75%;
  background-color: rgb(15, 15, 48);
  color: white;
  justify-content: flex-start;
  margin-top: 10px;
  border: solid;
  border-color:rgb(255, 254, 166);
  border-width: 1.5px;
}

#colorname {
  display: flex;
  position: relative;
  top: 0;
  margin: 15px;
  font-weight: bold;
  font-size: 5.5vh;
  height: 15%;
  justify-content: center;
  align-items: center;
}

#codecontainer {
  display: flex;
  position: relative;
  height: 100%;
  bottom: 15px;
  font-size: 145%;
  flex-direction: column;
}

#codecontainer div {
  display: flex;
  position: relative;
  height: 33.5%;
}

.conversions {
  display: flex;
  position: relative;
  padding: 10px;
  height: 20px;
  justify-content: center;
  font-size: 5vh;
  align-items: center;
}

#hex, #hsl, #rgb{
  padding: 10px;
  font-size: 4.5vh;
  text-indent: 10px;
}

#palette {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

#palette div {
  height: 10vh;
  width: 10vh;
  border: white 1px solid;
  content-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bolder;
  font-size: 3vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#palette div:hover {
  width: 16vh;
  transition: .5s;
  content-visibility: visible;
}

#palette div:not(:hover) {
  width: 10vh;
  transition: .5s;
}

.container1.active {
  border: 0.2em dashed rgb(255, 254, 166);
}

@media screen and (max-width: 1055px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .container1, .container2 {
    position: relative;
    height: 100%;
    width: 100%;
  }

  #imgContainer {
    height: 80vh;
  }

  #colorcontainer {
    height: 25vh;
  }

  h2 {
    font-size: 4vh;
  }

  #palette div:hover {
    width: 15vh;
  }
}